.preview{
    height: 400px;

    width: 400px;
    background-color: black;
    transition:
    scale 4s,
     width 2s,
     height 1s,
     background-color 5s,
      rotate 5s;
}

.preview:hover{
    background-color: aquamarine;
    height: 250px;
    width: 250px;
    rotate: 180deg;
}